* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}


*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root {
    --primary-color: #3A1078;
    --secondary-color: #4E31AA;
    --third-color: #2F58CD;
    --fourth-color: #3795BD;
    --border-radius: .3rem;
    --gap-xl: 4rem;
    --gap-lg: 2rem;
    --gap-md: 1rem;
    --gap-sm: .5rem;
    --gap-xs: .2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    width: 100vw;
    height: 100dvh;
    overflow-y: auto;
    position: relative;

}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;

}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:visited {
    color: grey;
}


.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.w-full {
    width: 100%;
}



.gap_xl {
    gap: var(--gap-xl)
}

.gap_lg {
    gap: var(--gap-lg)
}

.gap_md {
    gap: var(--gap-md)
}

.gap_sm {
    gap: var(--gap-sm)
}

.gap_xs {
    gap: var(--gap-xs)
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    align-self: center;
}

.self_center {
    align-self: center;
}

.items_center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.items_left {
    display: flex;
    justify-content: start;
    justify-items: center;
}

.items_right {
    display: flex;
    justify-content: end;
    justify-items: center;
}

.items_between {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}


nav {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.text_bold {
    font-weight: 400;
}

.text_xl {
    font-size: x-large;
}

.text_lg {
    font-size: large;
}

.text-sm {
    font-size: small;
}

.text-xs {
    font-size: x-small
}

.text_md {
    font-size: medium;
}

.mobile_menu {
    display: none;
}

.bottom_menu {
    display: none;
}

.icon-xl {
    font-size: x-large;
    text-align: center;
    color: var(--primary-color);
}

.icon-lg {
    font-size: large;
    text-align: center;
    color: var(--primary-color);
}

.mb_96 {
    margin-bottom: 20rem;
}


main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    width: 100%;
    height: fit-content;
}

.swiper {
    width: 100%;
    height: 60%;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper .swiper-pagination-bullet-active {
    background-color: white;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.search_wrapper {
    align-self: center;
    width: 50%;
    position: relative;
}

.search_wrapper input {
    width: 100%;
    padding: .8rem 3rem;
    border-radius: var(--border-radius);
    font-size: medium;
}

.search_icon {
    position: absolute;
    left: 1rem;
    text-align: center;
    align-self: center;


}

.search_button {
    padding: .5rem 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: white;
}

.mood_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.mood_box {
    border: 1px solid black;
    padding: 2rem 3.5rem;
    border-radius: var(--border-radius);
}

.collection_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.collection_box {
    padding: .5rem .5rem;
    border-radius: var(--border-radius);
}

.collection_grid div a img {
    width: 250px;
}


.category_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.category_box {
    width: 100px;
    height: 100px;
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    background-image: url('/book.gif');
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.category_text {
    color: black;
    padding: 5px;
    border-radius: var(--border-radius);
    position: absolute;
    background-color: white;
}


@media only screen and (max-width: 640px) {
    nav.items_center {
        display: none;
    }

    .login {
        display: none;
    }

    .logo {
        grid-column: 2/3;
        justify-content: center;
        justify-items: center;
    }

    .mobile_menu {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .bottom_menu {
        width: 90%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-self: center;
        position: fixed;
        bottom: 1rem;
        padding: 1rem 0rem;
        border-radius: 2rem;
        z-index: 2;
        background-color: white;
    }

    .bottom_menu_items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding: 0 1rem;
    }

    .swiper {
        width: 100%;
        height: 18%;
    }

    .search_wrapper {
        width: 80%;

    }


    .mood_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex_col {
        width: 90%;

    }

    .item_box {
        padding: 2rem 3rem;

    }

    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .collection_grid div a img {
        width: 120px;
    }

    .category_box {
        scale: 1.2;

    }

}