* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}


*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root {
    --primary-color: #3A1078;
    --white: #FFF;
    --black: #232323;
    --lite: rgba(255, 255, 255, 0.6);
    --gray: rgba(1, 1, 1, 0.6);
    --dark: #3c3d3c;
    --primary: linear-gradient(145deg, #ff2f09, #c24a4e);
    --primary_dark: #970104;
    --primary_lite: #c24a4e;
    --secondary: #000a17;
    --default_font: 'Ysabeau Infant', sans-serif;
    --title_font: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    width: 100vw;
    height: 100dvh;

}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;

}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.items_center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.items_left {
    display: flex;
    justify-content: start;
    justify-items: center;
}

.items_right {
    display: flex;
    justify-content: end;
    justify-items: center;
}


nav {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.text_large {
    font-size: large;
}

.text_medium {
    font-size: medium;
}

.text_small {
    font-size: small;
}

.mobile_menu {
    display: none;
}

.bottom_menu {
    display: none;
}

.icon-xl {
    font-size: x-large;
    text-align: center;
    color: #3A1078;
}

.icon-lg {
    font-size: large;
    text-align: center;
    color: #3A1078;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 60%;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 640px) {
    nav.items_center {
        display: none;
    }

    .login {
        display: none;
    }

    .logo {
        grid-column: 2/3;
        justify-content: center;
        justify-items: center;
    }

    .mobile_menu {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .bottom_menu {
        width: 90%;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        bottom: 1.5rem;
        padding: 1rem 0rem;
        border-radius: 2rem;

    }

    .bottom_menu_items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding: 0 1rem;
    }

    .swiper {
        width: 100%;
        height: 18%;
    }



}