* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    width: 100vw;
    height: 100dvh;

}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;

}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.items_center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.items_left {
    display: flex;
    justify-content: start;
    justify-items: center;
}

.items_right {
    display: flex;
    justify-content: end;
    justify-items: center;
}


nav {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.text_large {
    font-size: large;
}

.text_medium {
    font-size: medium;
}

.text_small {
    font-size: small;
}

.mobile_menu {
    display: none;
}

.bottom_menu {
    display: none;
}

.icon-xl {
    font-size: x-large;
    text-align: center;
    color: #3A1078;
}

.icon-lg {
    font-size: large;
    text-align: center;
    color: #3A1078;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 640px) {
    nav.items_center {
        display: none;
    }

    .login {
        display: none;
    }

    .logo {
        grid-column: 2/3;
        justify-content: center;
        justify-items: center;
    }

    .mobile_menu {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .bottom_menu {
        width: 90%;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        bottom: 2rem;
        padding: 1rem 0rem;
        border-radius: 2rem;

    }

    .bottom_menu_items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        padding: 0 1rem;
    }


}