/*! CSS Used from: https://rekhtastaticcdn.pc.cdn.bitgravity.com/css/3_5_global.css?v=1.0.2 ; media=all */
@media all {

    div,
    span,
    p {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    div,
    span,
    p {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
}

/*! CSS Used from: https://rekhtastaticcdn.pc.cdn.bitgravity.com/css/3_5_xs.css?v=1.0.127 ; media=all */
@media all {
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    p {
        line-height: 1;
        margin: 0 0;
        padding: 0 0;
    }

    .sherLines p {
        font-size: 24px;
        color: #1a1a1a;
        line-height: 48px;
        letter-spacing: .25px;
        font-family: 'merriweather_extendedLtIt';
    }

    .pMC .c p {
        font-size: 16px;
        line-height: 1.2;
        color: #000;
        margin-left: auto;
        margin-right: auto;
        font-family: 'merriweather_extendedLtIt', 'lailaregular', 'NotoNastaliqUrdu';
        white-space: nowrap;
    }

    .sherLines .pMC .c p {
        color: #1a1a1a;
    }

    .pMC .c p span {
        font-size: 24px;
        line-height: initial;
        display: inline-block;
        padding: 0 0 0 4px;
        cursor: pointer;
        border-radius: 3px;
        white-space: pre;
    }

    .nwPoetSher .pMC .c p span {
        font-size: 20px;
        line-height: 1.5;
    }

    .pMC .c {
        text-align: center;
        position: relative;
    }

    .pMC .c p:nth-child(2n) {
        margin: 0 auto 24px auto;
    }

    :invalid {
        box-shadow: none;
    }

    p {
        line-height: 1;
        margin: 0 0;
        padding: 0 0;
    }
}

/*! CSS Used from: https://rekhtastaticcdn.pc.cdn.bitgravity.com/css-4/4_0_xs.css?v=1.0.113 ; media=all */
@media all {
    p {
        line-height: 1;
    }

    ::placeholder {
        color: #bebebe;
    }

    .pMC .c {
        text-align: center;
        position: relative;
    }

    .pMC .c p {
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        margin-left: auto;
        margin-right: auto;
        font-family: 'merriweather_extendedLtIt', 'lailaregular', 'MehrNastaliqRegular';
        white-space: nowrap;
    }

    .pMC .c p span {
        font-size: 24px;
        line-height: 2;
        display: inline-block;
        padding: 0 0 0 4px;
        cursor: pointer;
        border-radius: 3px;
        white-space: pre;
    }
}

/*! CSS Used from: https://rekhtastaticcdn.pc.cdn.bitgravity.com/css/lg.css?v=1.0.43 */
@media screen and (min-width:1200px) {
    .pMC .c p {
        margin-top: 22px;
    }

    .pMC .c {
        padding: 1px 0;
    }

    .pMC .c p:nth-child(2n) {
        margin: 0 auto 16px auto;
    }

    .pMC .c:hover {
        background: #fcfcfc;
    }

    .sherLines .pMC .c:hover {
        background: transparent;
    }

    .pMC .c p span:hover {
        background: #f6f6f6;
    }
}

@media screen and (min-width:992px) {
    .nwPoetSher .pMC .c p span {
        line-height: 2;
    }

    .pMC .c p {
        line-height: 2;
    }
}
