@import url(global.css);
@import url(load_more_button.css);

.blog_data {
    width: 100vw;
    height: fit-content;
    margin-top: .5rem;
    font-family: "Lato", "NotoSansDevanagari", "NotoNastaliqUrdu";

}

.blog_data_wrapper {
    width: 80vw;
    height: fit-content;
}

.blog_data_card {
    width: 70vw;
    height: fit-content;
    padding-bottom: 3rem;
}

.blog_data_card img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.blog_author_detail {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.blog_data_card h1 {
    font-size: xx-large;
}

.blog_page_content p {
    padding: 0rem 4rem;
    font-size: large;
    word-spacing: 10px;
    line-height: 1.5rem;
}

.more_blogs {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
}

.more_articles_wrapper {
    align-self: center;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-content: center;
    place-items: center;
    gap: .5rem;
}

.more_blog_card {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: .5rem;
    padding: .5rem .5rem .5rem .5rem;
}

.more_blogs_title_wrapper {
    align-self: center;
    width: 100%;
}

.more_blogs_title {
    width: 200px;
    display: flex;
    justify-content: start;
    justify-items: start;
    border-bottom: 3px solid var(--primary-color);
}

.more_blog_card img {
    width: 100%;
    height: 100%;
}

.more_blog_description {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: medium;

}

@media only screen and (max-width: 768px) {
    .blog_data {
        margin-top: .3rem;
    }

    .blog_data_wrapper {
        width: 90vw;
    }

    .blog_data_card {
        width: 90vw;
    }

    .blog_data_card img {
        height: 200px;

    }

    .blog_data_card h1 {
        font-size: large;
    }

    .blog_detail {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: .3rem;
    }

    .blog_detail .blog_author_name {
        font-size: medium;
    }

    .blog_detail .blog_publish_date {
        font-size: small;
    }

    .blog_page_content p {
        padding: 0rem 2rem;
        font-size: 14px;
        word-spacing: -1px;
        line-height: 1.2rem;
    }
}