@import url(global.css);

.blog_page_grid {
    align-self: center;
    width: 100%;
    height: fit-content;
    border-radius: .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    place-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.blog_page_grid :nth-child(3n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

@media only screen and (max-width: 768px) {

    .browse_collection_title {
        width: 80%;
        font-size: x-large;
    }

    .browse_collection_description {
        width: 90vw;
        font-size: small
    }

    .blog_page_grid :nth-child(3n+1) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .blog_page_grid {
        align-self: center;
        width: 100vw;
        height: fit-content;
        padding: 2rem;
        border-radius: .3rem;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: .5rem;
    }
}