.collection_title {
    width: 90vw;
}

.collection_grid {
    width: 80vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    font-weight: bold;
}

.collection_box {
    padding: .5rem .5rem;
    border-radius: var(--border-radius);
}

.collection_grid div a img {
    width: 20vw;
}



@media only screen and (max-width: 640px) {


    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .6rem;
        column-gap: .5rem;
    }

    .collection_grid div a img {
        width: 41vw;
    }

}