.floating_write_button {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 50;
    width: 60px;
    height: 60px;

}

@media only screen and (max-width: 640px) {
    .floating_write_button {
        display: none;

    }


}