@import url(base.css);
@import url(utility.css);
@import url(swiper.css);
@import url(header.css);
@import url(search.css);
@import url(category.css);
@import url(latest_blog.css);
@import url(bottom_menu.css);
@import url(thought_of_the_day.css);
@import url(app_download.css);
@import url(login.css);
@import url(register_mode.css);
@import url(carousel.css);
@import url(footer.css);


@font-face {
    font-family: merriweather_extendedLtIt;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: merriweather_extendedLtIt;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/merriweatherextended-lightitalic-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: lailaregular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: lailaregular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/laila-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoNastaliqUrdu;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoNastaliqUrdu;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: LatoXBold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LatoXBold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagari;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagari;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagariRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagariRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: latoxregular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: latoxregular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagari;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagari;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoNastaliqUrdu;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoNastaliqUrdu;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: latoxbold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: latoxbold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagaribold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagaribold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-bold-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: LatoXBold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LatoXBold;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: MehrNastaliqRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/MehrNastaliqWeb.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: LatoXRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LatoXRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/latox-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagariRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: NotoDevanagariRegular;
    src: url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular.ttf) format("truetype"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff2) format("woff2"), url(https://rekhtastaticcdn.pc.cdn.bitgravity.com/fonts/notosansdevanagari-regular-webfont.woff) format("woff");
    font-display: swap;
}

:root {
    --primary-color: #089efc;
    --secondary-color: #4E31AA;
    --third-color: #2F58CD;
    --fourth-color: #3795BD;
    --background-one: #f5f5fa;
    --background-two: white;
    --card-color: #089efc0a;
    --border-radius: .3rem;
    --gap-2xl: 3rem;
    --gap-2xl: 2.5rem;
    --gap-xl: 2rem;
    --gap-lg: 1.5rem;
    --gap-md: 1rem;
    --gap-sm: .5rem;
    --gap-xs: .2rem;
}