.mood_title {
    width: 90vw;
    font-size: large !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mood_grid a:visited {
    color: var(--primary-color) !important;
}

.mood_grid {
    width: 80vw;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(8, 1fr);
    column-gap: .1rem;
}

.mood_box {
    border: 1px solid black;
    padding: 2rem 3.5rem;
    border-radius: var(--border-radius);
}

.mood_box:hover .mood_icon {

    scale: 2.5;
}

.mood_title a {
    color: var(--primary-color);
}



@media only screen and (max-width: 1024px) {


    .mood_grid {
        width: 90vw;
        grid-template-columns: repeat(6, 1fr);
    }

    .mood_box {
        border: 1px solid black;
        padding: 1rem 2.5rem;
        border-radius: var(--border-radius);
    }
}

@media only screen and (max-width: 640px) {


    .mood_grid {
        width: 90vw;
        grid-template-columns: repeat(3, 1fr);
    }

    .mood_box {
        border: 1px solid black;
        padding: 1rem 2.5rem;
        border-radius: var(--border-radius);
    }
}