button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button {
    background-color: transparent;
    background-image: none;
}

*,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box;
}

img {
    border-style: solid;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    color: inherit;
    line-height: inherit;
    padding: 0;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

*,
:after,
:before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-blur: var(--tw-empty, );
    --tw-brightness: var(--tw-empty, );
    --tw-contrast: var(--tw-empty, );
    --tw-grayscale: var(--tw-empty, );
    --tw-hue-rotate: var(--tw-empty, );
    --tw-invert: var(--tw-empty, );
    --tw-saturate: var(--tw-empty, );
    --tw-sepia: var(--tw-empty, );
    --tw-drop-shadow: var(--tw-empty, );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty, );
    --tw-backdrop-brightness: var(--tw-empty, );
    --tw-backdrop-contrast: var(--tw-empty, );
    --tw-backdrop-grayscale: var(--tw-empty, );
    --tw-backdrop-hue-rotate: var(--tw-empty, );
    --tw-backdrop-invert: var(--tw-empty, );
    --tw-backdrop-opacity: var(--tw-empty, );
    --tw-backdrop-saturate: var(--tw-empty, );
    --tw-backdrop-sepia: var(--tw-empty, );
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    border-color: currentColor;
}

.pointer-events-none {
    pointer-events: none;
}

.relative {
    position: relative;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mr-1 {
    margin-right: .25rem;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.h-7 {
    height: 1.75rem;
}

.h-4 {
    height: 1rem;
}

.w-full {
    width: 100%;
}

.w-7 {
    width: 1.75rem;
}

.w-1 {
    width: .25rem;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: .75rem;
}

.rounded-full {
    border-radius: 9999px;
}

.fill-current {
    fill: currentColor;
}

.p-1 {
    padding: .25rem;
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pt-2 {
    padding-top: .5rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pr-4 {
    padding-right: 1rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.text-white {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-\[\#A3A3A3\] {
    --tw-text-opacity: 1;
    color: #a3a3a3;
    color: rgba(163, 163, 163, var(--tw-text-opacity));
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.transition-colors {
    transition-duration: .15s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.focus\:bg-gray-f2:focus {
    --tw-bg-opacity: 1;
    background-color: #f2f2f2;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.active\:bg-gray-f2:active {
    --tw-bg-opacity: 1;
    background-color: #f2f2f2;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

@media (min-width:768px) {
    .md\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.svg-container {
    display: inline-block;
}

.svg-container>svg {
    height: 100%;
    width: 100%;
}

.content-bottom[data-v-6c1d4325]:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 68%, .231) !important;
}

.content-bg:hover {
    background-color: #f9f9f9;
}

.content-second {
    overflow: hidden;
    transition: height .3s linear;
}

.content-bottom:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 68%, .231) !important;
}