* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}


*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}